.line_input {
  background: transparent;
  border: none !important;
  border-bottom: 1px solid #000000 !important;
  padding-bottom: 0% !important;
}

.bottomLabel {
  margin-bottom: -0.3rem;
  position: absolute;
  bottom: 0px;
}

.radioLabel {
  margin-right: 25px;
}

.btn {
  padding: 0.3rem !important;
}
